{
  "*.{ts,tsx}": [
    "bun ./scripts/typecheck-wrapper.js",
    "bun cspell:check",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,json}": [
    "bun cspell:check",
    "prettier --write"
  ],
  "!CHANGELOG.md": "echo ignoring changelog",
  "*.md": [
    "bun cspell:check",
    "markdownlint --fix",
    "prettier --write"
  ],
  "*.{yml,yaml}": [
    "bun cspell:check",
    "yamllint -f parsable"
  ]
}
